/*Style CSS*/
h1 {
	text-decoration-style: bold;
    text-align: center:
}
h2 { 
	text-align:center;
	border-style:solid;
     border-width: 2px;} 
p{
	text-align: blue
	background-color:grey;
	border-style:solid;
	border-width:2px;
}

